.aktualita-card {
  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__date {
    font-size: 2rem;
    font-weight: 500;
  }

  &__perex {
    font-size: 2rem;
    font-weight: 500;
    color: $color-secondary-dark3;
    text-transform: uppercase;
  }

  &__message {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;

    & p {
      margin-bottom: 1rem;
    }

    & ul,
    & ol {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    & ul {
      list-style: none;
    }

    & ol {
      margin-left: 2rem;
    }

    & a {
      color: $color-primary-dark1;
      font-weight: 500;
    }
  }

  &__image {
    display: flex;
    position: relative;
    width: 100%;
    height: 40rem;
    border-radius: $border-radius;
    overflow: hidden;

    & img {
      border-radius: $border-radius;
    }
  }
}
