@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #f1f1f1;
  height: 50rem; }

::selection {
  background-color: #478dce;
  color: #fff; }

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: #f1f1f1; }

.headingPrimary {
  font-size: 4rem;
  font-weight: 700;
  color: #222;
  line-height: 1.5;
  letter-spacing: .25px; }

.heading-secondary {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  line-height: 1.2;
  color: #222; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  color: #966a03;
  text-transform: uppercase;
  text-align: left; }

a {
  color: inherit;
  text-decoration: none; }

button {
  font: inherit;
  cursor: pointer; }

.base__container {
  max-width: 160rem;
  margin: 0 auto; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

@keyframes nav-button-effect {
  0% {
    transform-origin: 0% 0%;
    transform: translate3d(0px, 0px, 0px) scale(0, 1); }
  100% {
    transform-origin: 0% 0%;
    transform: translate3d(0px, 0px, 0px) scale(1, 1); } }

.hero-section__container {
  padding: 4.8rem 6.4rem 4.8rem 6.4rem;
  background-color: #e7e1e1;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem; }

.hero-section__image {
  position: relative;
  object-fit: cover;
  height: 100%; }

.hero-section__image-box {
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.03);
  overflow: hidden; }

.hero-section__ {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 9.6rem; }

.coalition__container {
  margin: 0 auto;
  padding: 4.8rem 0 12.8rem 0;
  background-color: #e7e1e1; }

.coalition__logo-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .coalition__logo-container img {
    filter: brightness(0);
    opacity: 50%;
    height: 12rem;
    transition: all 500ms; }
    .coalition__logo-container img:hover {
      filter: brightness(1);
      opacity: 100%;
      transform: scale(1.2); }

.accomplishement__container {
  margin: 0 auto;
  padding: 4.8rem 0 12.8rem 0; }

.accomplishement__wrapper {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem; }

.accomplishement__lists {
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.accomplishement--pending__container {
  padding: 4.8rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  transition: all 500ms; }
  .accomplishement--pending__container:hover {
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1.5rem); }
  .accomplishement--pending__container ul {
    width: 25rem;
    margin-top: 2.4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .accomplishement--pending__container li {
    display: flex;
    gap: 1.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    align-items: center; }

.accomplishement--pending__icon {
  font-size: 3.6rem;
  color: #0d3961; }

.accomplishement--solved__container {
  padding: 4.8rem;
  border-radius: 2rem;
  background-color: #e7e1e1;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  transition: all 500ms; }
  .accomplishement--solved__container:hover {
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1.5rem); }
  .accomplishement--solved__container ul {
    width: 25rem;
    margin-top: 2.4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .accomplishement--solved__container li {
    display: flex;
    gap: 1.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    align-items: center; }

.accomplishement--solved__icon {
  font-size: 3.6rem;
  color: #37b24d; }

.program__container {
  margin-bottom: 12.8rem; }

.program__wrapper {
  max-width: 130rem;
  padding: 0rem 3.2rem;
  margin: 0 auto; }

.program__priorities {
  list-style: none;
  margin-top: 6.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 4rem; }
  .program__priorities__item {
    transition: all 500ms;
    padding: 1rem; }
    .program__priorities__item:hover {
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
      border-radius: 2rem; }
    .program__priorities__item:hover .program__priorities__item--icon {
      background-color: #0d3961;
      color: #fab005; }
    .program__priorities__item--icon {
      transition: all 500ms;
      font-size: 3.6rem;
      color: #0d3961;
      background-color: #fab005;
      margin: 0 1rem;
      padding: 1.3rem;
      margin-bottom: 1rem;
      border-radius: 50%;
      height: 6.4rem;
      width: 6.4rem; }
    .program__priorities__item--title {
      font-size: 2rem;
      color: #333;
      font-weight: 700;
      margin-bottom: 1.6rem; }
    .program__priorities__item--text {
      font-size: 1.8rem;
      line-height: 1.8; }

.past-election__wrapper {
  padding: 0 3.2rem;
  max-width: 130rem;
  margin: 0 auto; }

.past-election__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  .past-election__grid__item {
    margin: 3.2rem;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #966a03;
    border-radius: 10px;
    transition: all 400ms; }
    .past-election__grid__item:hover {
      transform: scale(1.2); }
    .past-election__grid__item ul {
      margin: 2.4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem; }
    .past-election__grid__item li {
      display: flex;
      gap: 1.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      align-items: center; }
    .past-election__grid__item--icon {
      font-size: 3.6rem;
      color: #0d3961; }

.future-election__container {
  margin: 6.4rem 0; }

.future-election__wrapper {
  padding: 0 3.2rem;
  max-width: 130rem;
  margin: 0 auto; }

.future-election__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center; }
  .future-election__grid__item {
    margin: 3.2rem;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #1971c2;
    border-radius: 10px;
    transition: all 400ms;
    color: #1971c2;
    font-weight: 600; }
    .future-election__grid__item ul {
      margin: 2.4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem; }
    .future-election__grid__item li {
      display: flex;
      gap: 1.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      align-items: center; }
      .future-election__grid__item li strong {
        font-size: 1.8rem;
        font-weight: 600;
        color: #145a9b; }
    .future-election__grid__item:hover {
      transform: scale(1.3); }
    .future-election__grid__item--icon {
      font-size: 3.6rem;
      color: #145a9b; }

.zastupitele-list__container {
  margin: 0 auto;
  max-width: 140rem;
  text-align: center; }

.zastupitele-list__title {
  margin: 10rem auto;
  margin-bottom: 3rem;
  font-size: 8.6rem;
  font-weight: 500;
  letter-spacing: -1px;
  color: #0d3961; }

.zastupitele-list__list {
  list-style: none;
  display: flex;
  flex-direction: column; }
  .zastupitele-list__list li:nth-child(odd) {
    align-self: flex-end; }
  .zastupitele-list__list li:nth-child(even) {
    align-self: flex-start; }

.zastupitel__card__image {
  width: 32rem;
  height: 32rem;
  flex-shrink: 0;
  transform: scale(1.5);
  border-radius: 2rem;
  transition: all 500ms; }

.zastupitel__card--wrapper {
  display: flex;
  margin: 9rem auto;
  padding: 3.2rem 3.2rem;
  align-items: center;
  border-radius: 15px;
  max-width: 120rem;
  background-color: #f1f1f1;
  color: #333;
  gap: 9.6rem;
  transition: all 500ms;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow: hidden; }

.zastupitel__card--wrapper:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.5); }

.zastupitel__card--wrapper:hover .zastupitel__card__info--email {
  color: #966a03; }

.zastupitel__card--wrapper:hover .zastupitel__card__info--email-icon {
  color: #966a03; }

.zastupitel__card--wrapper:hover .zastupitel__card__image {
  transform: scale(1.55); }

.zastupitel__card__info--name {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.6rem; }

.zastupitel__card__info--email-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  gap: 0.8rem; }

.zastupitel__card__info--email-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #145a9b;
  transition: all 400ms; }

.zastupitel__card__info--email {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #145a9b;
  transition: all 400ms; }

.zastupitel__card__info--occupation {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.6rem; }

.zastupitel__card__info--bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1.6rem; }

.navigation {
  height: 14rem;
  position: relative; }

.main__navigation {
  position: fixed;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 14rem;
  background-color: #f1f1f1;
  border-bottom: 2px solid #966a03;
  z-index: 10; }
  .main__navigation__checkbox {
    display: none; }
  .main__navigation__button {
    display: none; }
  .main__navigation__icon {
    position: relative; }
    .main__navigation__icon, .main__navigation__icon::after, .main__navigation__icon::before {
      display: inline-block;
      height: 3px;
      width: 4.5rem;
      background-color: #fff; }
    .main__navigation__icon::before, .main__navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 400ms; }
    .main__navigation__icon::before {
      top: -1.2rem; }
    .main__navigation__icon::after {
      top: 1.2rem; }
  .main__navigation__button:hover .main__navigation__icon::before {
    top: -1.5rem; }
  .main__navigation__button:hover .main__navigation__icon::after {
    top: 1.5rem; }
  .main__navigation__checkbox:checked + .main__navigation__button .main__navigation__icon {
    background-color: transparent; }
  .main__navigation__checkbox:checked + .main__navigation__button .main__navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .main__navigation__checkbox:checked + .main__navigation__button .main__navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem; }
  .nav__list__item {
    text-transform: uppercase;
    display: inline-block;
    color: #0d3961;
    font-size: 2.4rem;
    font-weight: 500;
    transition: all 300ms; }
    .nav__list__item:hover, .nav__list__item:active {
      color: #af7b04; }
    .nav__list__item--active {
      color: #af7b04; }

.logo-image {
  height: 12rem;
  cursor: pointer; }
