@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #f1f1f1;
  height: 50rem; }

.page-container {
  display: flex;
  flex-direction: column; }

::selection {
  background-color: #478dce;
  color: #fff; }

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: #f1f1f1; }

.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #222;
  line-height: 1.5;
  letter-spacing: .25px;
  color: #0d3961; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 3rem; } }

.heading-secondary {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  line-height: 1.4;
  color: #0d3961; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 22.5em) {
    .heading-secondary {
      font-size: 2.2rem; } }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  color: #966a03;
  text-transform: uppercase;
  text-align: left; }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 22.5em) {
    .heading-tertiary {
      font-size: 1.5rem; } }

a {
  color: inherit;
  text-decoration: none; }

button {
  font: inherit;
  cursor: pointer; }

.base__container {
  max-width: 160rem;
  margin: 0 auto; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

@keyframes nav-button-effect {
  0% {
    transform-origin: 0% 0%;
    transform: translate3d(0px, 0px, 0px) scale(0, 1); }
  100% {
    transform-origin: 0% 0%;
    transform: translate3d(0px, 0px, 0px) scale(1, 1); } }

.home-page__container {
  max-width: 140rem;
  margin: 0 auto; }

.hero-section__container {
  padding: 3.6rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem; }

.hero-section__heading--volba, .hero-section__heading--teplice, .hero-section__heading--pro {
  display: inline-block;
  font-size: 8rem;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: uppercase;
  color: #0d3961;
  transition: all 400ms; }
  @media only screen and (max-width: 56.25em) {
    .hero-section__heading--volba, .hero-section__heading--teplice, .hero-section__heading--pro {
      font-size: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .hero-section__heading--volba, .hero-section__heading--teplice, .hero-section__heading--pro {
      font-size: 4rem; } }
  @media only screen and (max-width: 22.5em) {
    .hero-section__heading--volba, .hero-section__heading--teplice, .hero-section__heading--pro {
      font-size: 3rem; } }

.hero-section__heading--pro {
  color: #966a03; }

.hero-section__info-text {
  align-self: flex-start; }

.hero-section__image-box {
  position: relative;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.03);
  overflow: hidden;
  height: 38rem;
  width: 100%; }
  @media only screen and (max-width: 75em) {
    .hero-section__image-box {
      height: 31.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .hero-section__image-box {
      height: 20rem; } }
  @media only screen and (max-width: 37.5em) {
    .hero-section__image-box {
      height: 15rem; } }
  @media only screen and (max-width: 22.5em) {
    .hero-section__image-box {
      height: 10rem; } }
  @media only screen and (min-width: 112.5em) {
    .hero-section__image-box {
      height: 43rem; } }

.coalition__container {
  margin: 0 auto;
  padding: 4.8rem 0 12.8rem 0; }
  @media only screen and (max-width: 37.5em) {
    .coalition__container {
      padding: 1rem 0; } }

.coalition__logo-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (max-width: 37.5em) {
    .coalition__logo-container {
      flex-direction: column;
      gap: 5rem; } }
  .coalition__logo-container img {
    filter: brightness(0);
    opacity: 50%;
    height: 12rem;
    transition: all 500ms; }
    .coalition__logo-container img:hover {
      filter: brightness(1);
      opacity: 100%;
      transform: scale(1.2); }

.accomplishement__container {
  margin: 0 auto;
  padding: 4.8rem 0 12.8rem 0; }

.accomplishement__wrapper {
  margin: 0 auto;
  padding: 0 3.2rem; }

.accomplishement__lists {
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (max-width: 75em) {
    .accomplishement__lists {
      flex-direction: column;
      gap: 6rem; } }

.accomplishement--pending__container {
  padding: 4.8rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  transition: all 500ms;
  border: 2px solid #0d3961;
  min-height: 53rem; }
  @media only screen and (max-width: 37.5em) {
    .accomplishement--pending__container {
      padding: 2rem; } }
  .accomplishement--pending__container:hover {
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1.5rem); }
  .accomplishement--pending__container ul {
    width: 40rem;
    margin-top: 2.4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .accomplishement--pending__container ul {
        width: 35rem; } }
    @media only screen and (max-width: 22.5em) {
      .accomplishement--pending__container ul {
        width: 30rem; } }
  .accomplishement--pending__container li {
    display: flex;
    gap: 1.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .accomplishement--pending__container li {
        font-size: 1.4rem; } }

.accomplishement--pending__heading {
  text-align: center; }

.accomplishement--pending__icon {
  font-size: 3.6rem;
  color: #0d3961; }
  @media only screen and (max-width: 37.5em) {
    .accomplishement--pending__icon {
      font-size: 2.8remrem; } }

.accomplishement--solved__container {
  padding: 4.8rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  transition: all 500ms;
  border: 2px solid #966a03;
  min-height: 53rem; }
  @media only screen and (max-width: 37.5em) {
    .accomplishement--solved__container {
      padding: 2rem; } }
  .accomplishement--solved__container:hover {
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1.5rem); }
  .accomplishement--solved__container ul {
    width: 40rem;
    margin-top: 2.4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .accomplishement--solved__container ul {
        width: 35rem; } }
    @media only screen and (max-width: 22.5em) {
      .accomplishement--solved__container ul {
        width: 30rem; } }
  .accomplishement--solved__container li {
    display: flex;
    gap: 1.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .accomplishement--solved__container li {
        font-size: 1.4rem; } }

.accomplishement--solved__heading {
  text-align: center; }

.accomplishement--solved__icon {
  font-size: 3.6rem;
  color: #966a03; }
  @media only screen and (max-width: 37.5em) {
    .accomplishement--solved__icon {
      font-size: 2.8remrem; } }

.accomplishement--solved__program {
  font-weight: 500;
  color: #0d3961;
  border-bottom: 1px solid #0d3961;
  transition: all 300ms; }
  .accomplishement--solved__program:hover {
    font-size: 2rem; }

.program__container {
  margin-bottom: 12.8rem; }

.program__wrapper {
  max-width: 130rem;
  padding: 0rem 3.2rem;
  margin: 0 auto; }

.program__priorities {
  list-style: none;
  margin-top: 6.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 4rem; }
  @media only screen and (max-width: 75em) {
    .program__priorities {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 8rem;
      margin: 6.4rem 4rem 0 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .program__priorities {
      grid-template-columns: 1fr;
      row-gap: 6rem; } }
  .program__priorities__item {
    transition: all 500ms;
    padding: 1rem;
    display: flex;
    flex-direction: column; }
    .program__priorities__item:hover .program__priorities__item--icon {
      background-color: #0d3961;
      color: #fab005; }
    .program__priorities__item--icon {
      transition: all 500ms;
      font-size: 3.6rem;
      color: #0d3961;
      background-color: #fab005;
      margin: 0 1rem;
      padding: 1.3rem;
      margin-bottom: 2rem;
      border-radius: 50%;
      height: 6.4rem;
      width: 6.4rem;
      align-self: center; }
    .program__priorities__item--title {
      font-size: 2rem;
      color: #333;
      font-weight: 700;
      margin-bottom: 1.6rem; }
    .program__priorities__item--text {
      font-size: 1.8rem;
      line-height: 1.8; }

.past-election__wrapper {
  padding: 0 3.2rem;
  max-width: 130rem;
  margin: 0 auto; }

.past-election__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  @media only screen and (max-width: 37.5em) {
    .past-election__grid {
      grid-template-columns: 1fr; } }
  .past-election__grid__item {
    margin: 3.2rem;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #966a03;
    border-radius: 10px;
    transition: all 400ms; }
    @media only screen and (max-width: 22.5em) {
      .past-election__grid__item {
        margin: 2rem;
        padding: 2rem; } }
    .past-election__grid__item:hover {
      transform: scale(1.1); }
    .past-election__grid__item ul {
      margin: 2.4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem; }
    .past-election__grid__item li {
      display: flex;
      gap: 1.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      align-items: center; }
      @media only screen and (max-width: 22.5em) {
        .past-election__grid__item li {
          font-size: 1.2rem; } }
    .past-election__grid__item--icon {
      font-size: 3.6rem;
      color: #966a03; }
      @media only screen and (max-width: 22.5em) {
        .past-election__grid__item--icon {
          font-size: 2.6rem; } }

.future-election__container {
  margin: 6.4rem 0; }

.future-election__wrapper {
  padding: 0 3.2rem;
  max-width: 130rem;
  margin: 0 auto; }

.future-election__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center; }
  .future-election__grid__item {
    margin: 3.2rem;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #0d3961;
    border-radius: 10px;
    transition: all 400ms;
    color: #145a9b;
    font-weight: 600; }
    @media only screen and (max-width: 22.5em) {
      .future-election__grid__item {
        margin: 2rem;
        padding: 2rem; } }
    .future-election__grid__item ul {
      margin: 2.4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem; }
    .future-election__grid__item li {
      display: flex;
      gap: 1.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      align-items: center; }
      @media only screen and (max-width: 22.5em) {
        .future-election__grid__item li {
          font-size: 1.4rem; } }
      .future-election__grid__item li strong {
        font-weight: 600;
        color: #0d3961; }
    .future-election__grid__item:hover {
      transform: scale(1.1); }
    .future-election__grid__item--icon {
      font-size: 3.6rem;
      color: #145a9b; }
      @media only screen and (max-width: 22.5em) {
        .future-election__grid__item--icon {
          font-size: 2.6rem; } }

.zastupitele-list__container {
  margin: 0 auto;
  max-width: 140rem;
  text-align: center; }

.zastupitele-list__wrapper {
  padding: 0 4rem; }
  @media only screen and (max-width: 22.5em) {
    .zastupitele-list__wrapper {
      padding: 0 2rem; } }
  @media only screen and (min-width: 112.5em) {
    .zastupitele-list__wrapper {
      padding: 0 2rem; } }

.zastupitele-list__title {
  margin: 10rem auto;
  margin-bottom: 3rem;
  font-size: 8.6rem;
  font-weight: 500;
  letter-spacing: -1px;
  color: #0d3961; }
  @media only screen and (max-width: 37.5em) {
    .zastupitele-list__title {
      font-size: 6rem;
      font-weight: 500; } }
  @media only screen and (max-width: 37.5em) {
    .zastupitele-list__title {
      margin: 6rem auto;
      font-size: 5rem;
      font-weight: 500; } }

.zastupitele-list__list {
  list-style: none;
  display: flex;
  flex-direction: column; }
  .zastupitele-list__list li:nth-child(odd) {
    align-self: flex-end; }
    @media only screen and (max-width: 56.25em) {
      .zastupitele-list__list li:nth-child(odd) {
        align-self: center; } }
  .zastupitele-list__list li:nth-child(even) {
    align-self: flex-start; }
    @media only screen and (max-width: 56.25em) {
      .zastupitele-list__list li:nth-child(even) {
        align-self: center; } }

.zastupitel__card__image {
  width: 35%;
  height: 100%;
  flex-shrink: 0;
  transform: scale(1);
  border-radius: 2rem;
  transition: all 500ms;
  display: flex;
  flex-shrink: 0; }
  @media only screen and (max-width: 75em) {
    .zastupitel__card__image {
      width: 40%; } }
  @media only screen and (max-width: 56.25em) {
    .zastupitel__card__image {
      width: 100%;
      order: 1; } }

.zastupitel__card--wrapper {
  display: flex;
  margin: 9rem auto;
  align-items: center;
  border-radius: 15px;
  max-width: 120rem;
  background-color: #f1f1f1;
  color: #333;
  transition: all 500ms;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .zastupitel__card--wrapper {
      flex-direction: column-reverse;
      max-width: 55rem; } }

.zastupitel__card--wrapper:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.5); }

.zastupitel__card--wrapper:hover .zastupitel__card__info--email {
  color: #966a03; }

.zastupitel__card--wrapper:hover .zastupitel__card__info--email-icon {
  color: #966a03; }

.zastupitel__card--wrapper:hover .zastupitel__card__image {
  transform: scale(1.05); }

.zastupitel__card__info {
  margin: 0 3rem; }
  @media only screen and (max-width: 75em) {
    .zastupitel__card__info {
      margin: 0 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .zastupitel__card__info {
      margin: 4rem 4rem 2rem 4rem; } }
  @media only screen and (max-width: 22.5em) {
    .zastupitel__card__info {
      margin: 2rem; } }
  .zastupitel__card__info--name {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.6rem; }
    @media only screen and (max-width: 75em) {
      .zastupitel__card__info--name {
        font-size: 2.4rem; } }
  .zastupitel__card__info--email-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
    gap: 0.8rem; }
  .zastupitel__card__info--email-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: #145a9b;
    transition: all 400ms; }
  .zastupitel__card__info--email {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    color: #145a9b;
    transition: all 400ms; }
  .zastupitel__card__info--occupation {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.6rem; }
  .zastupitel__card__info--bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1.6rem; }
    @media only screen and (max-width: 75em) {
      .zastupitel__card__info--bio {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 56.25em) {
      .zastupitel__card__info--bio {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 37.5em) {
      .zastupitel__card__info--bio {
        font-size: 1.4rem; } }

.zastupitel-new__container {
  max-width: 75rem;
  margin: 6.4rem auto; }

.zastupitel-new__form--button {
  margin: 0 auto;
  margin-top: 5rem; }

.kandidat-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .kandidat-card__side {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.8s ease;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .kandidat-card__side {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .kandidat-card__side--front {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media only screen and (max-width: 56.25em) {
        .kandidat-card__side--front {
          display: none; } }
    .kandidat-card__side--back {
      transform: rotateY(180deg);
      display: flex;
      flex-direction: row;
      gap: 2rem;
      border-radius: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .kandidat-card__side--back {
          transform: none;
          flex-direction: column-reverse;
          gap: 0; } }
  .kandidat-card:hover .kandidat-card__side--front {
    transform: rotateY(-180deg); }
  .kandidat-card:hover .kandidat-card__side--back {
    transform: rotateY(0); }
  .kandidat-card__order-container {
    position: absolute;
    top: 5%;
    left: 12.5%;
    transform: translateX(-50%);
    color: #fab005;
    background-color: #0d3961;
    padding: 1rem 1rem;
    border-radius: 100%;
    font-size: 4rem;
    font-weight: 500;
    width: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.75; }
    @media only screen and (min-width: 112.5em) {
      .kandidat-card__order-container {
        left: 14%;
        font-size: 2.8rem;
        font-weight: 500;
        width: 7rem; } }
    .kandidat-card__order-container--back {
      display: none; }
      @media only screen and (max-width: 56.25em) {
        .kandidat-card__order-container--back {
          display: block;
          position: absolute;
          top: 8%;
          left: 12%;
          z-index: 10; } }
      @media only screen and (max-width: 37.5em) {
        .kandidat-card__order-container--back {
          font-size: 3rem;
          width: 7rem;
          left: 12%; } }
      @media only screen and (max-width: 22.5em) {
        .kandidat-card__order-container--back {
          font-size: 3rem;
          width: 7rem;
          left: 14%; } }
  .kandidat-card__image-container {
    position: relative;
    width: 100%; }
    .kandidat-card__image-container--back {
      width: 55%;
      flex-shrink: 0; }
      @media only screen and (max-width: 56.25em) {
        .kandidat-card__image-container--back {
          width: 80%;
          height: 50rem; } }
      @media only screen and (max-width: 37.5em) {
        .kandidat-card__image-container--back {
          width: 100%; } }
      @media only screen and (min-width: 112.5em) {
        .kandidat-card__image-container--back {
          height: 30rem; } }
  .kandidat-card__image-box {
    display: flex;
    position: relative;
    width: 100%;
    height: 40rem;
    border-radius: 2rem;
    overflow: hidden; }
    @media only screen and (min-width: 112.5em) {
      .kandidat-card__image-box {
        height: 30rem; } }
    .kandidat-card__image-box--small {
      display: flex;
      position: relative;
      width: 100%;
      height: 40rem;
      border-radius: 2rem;
      overflow: hidden; }
      @media only screen and (max-width: 56.25em) {
        .kandidat-card__image-box--small {
          height: 50rem; } }
      @media only screen and (min-width: 112.5em) {
        .kandidat-card__image-box--small {
          height: 30rem; } }
  .kandidat-card__info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: #0d3961;
    padding: 1rem;
    text-align: left; }
    @media only screen and (max-width: 56.25em) {
      .kandidat-card__info {
        align-items: center;
        gap: 1rem; } }
    .kandidat-card__info-name {
      font-size: 2.2rem;
      font-weight: 600; }
      @media only screen and (max-width: 75em) {
        .kandidat-card__info-name {
          font-size: 2rem;
          font-weight: 500; } }
      @media only screen and (max-width: 56.25em) {
        .kandidat-card__info-name {
          font-size: 2.2rem;
          font-weight: 600; } }
      @media only screen and (min-width: 112.5em) {
        .kandidat-card__info-name {
          font-size: 1.8rem;
          font-weight: 500; } }
    .kandidat-card__info-occupation {
      font-size: 1.8rem;
      font-weight: 500; }
      @media only screen and (max-width: 75em) {
        .kandidat-card__info-occupation {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 56.25em) {
        .kandidat-card__info-occupation {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 37.5em) {
        .kandidat-card__info-occupation {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 22.5em) {
        .kandidat-card__info-occupation {
          font-size: 1.4rem; } }
      @media only screen and (min-width: 112.5em) {
        .kandidat-card__info-occupation {
          font-size: 1.4rem;
          font-weight: 400; } }

.kandidati-list {
  margin: 0 auto;
  max-width: 140rem;
  text-align: center; }
  .kandidati-list__title {
    margin: 10rem auto;
    font-size: 8.6rem;
    font-weight: 500;
    letter-spacing: -1px;
    color: #0d3961; }
    @media only screen and (max-width: 37.5em) {
      .kandidati-list__title {
        font-size: 6rem;
        font-weight: 500; } }
    @media only screen and (max-width: 37.5em) {
      .kandidati-list__title {
        margin: 6rem auto;
        font-size: 5rem;
        font-weight: 500; } }
  .kandidati-list ul {
    margin: 0 4rem 10rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 8rem;
    row-gap: 8rem; }
    @media only screen and (max-width: 75em) {
      .kandidati-list ul {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .kandidati-list ul {
        grid-template-columns: 1fr;
        column-gap: 6rem;
        row-gap: 16rem; } }
    @media only screen and (max-width: 37.5em) {
      .kandidati-list ul {
        row-gap: 12rem; } }
    @media only screen and (max-width: 22.5em) {
      .kandidati-list ul {
        margin: 0 2rem 10rem 2rem;
        row-gap: 10rem; } }
    @media only screen and (min-width: 112.5em) {
      .kandidati-list ul {
        grid-template-columns: repeat(3, 1fr); } }
  .kandidati-list li {
    list-style: none; }

.aktualita-card__text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem; }

.aktualita-card__heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0; }

.aktualita-card__date {
  font-size: 2rem;
  font-weight: 500; }

.aktualita-card__perex {
  font-size: 2rem;
  font-weight: 500;
  color: #966a03;
  text-transform: uppercase; }

.aktualita-card__message {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6; }
  .aktualita-card__message p {
    margin-bottom: 1rem; }
  .aktualita-card__message ul,
  .aktualita-card__message ol {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .aktualita-card__message ul {
    list-style: none; }
  .aktualita-card__message ol {
    margin-left: 2rem; }

.aktualita-card__image {
  display: flex;
  position: relative;
  width: 100%;
  height: 40rem;
  border-radius: 2rem;
  overflow: hidden; }
  .aktualita-card__image img {
    border-radius: 2rem; }

.aktuality {
  margin: 10rem 0;
  max-width: 140rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .aktuality {
      margin-top: 4rem; } }
  .aktuality__title {
    font-size: 8.6rem;
    font-weight: 500;
    letter-spacing: -1px; }
    @media only screen and (max-width: 56.25em) {
      .aktuality__title {
        font-size: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .aktuality__title {
        font-size: 4rem; } }
  .aktuality__list {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    padding: 10rem;
    list-style: none; }
    @media only screen and (max-width: 75em) {
      .aktuality__list {
        padding: 2rem; } }
    .aktuality__list-item {
      width: 100rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding: 6rem;
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
      border-radius: 2rem; }
      @media only screen and (max-width: 75em) {
        .aktuality__list-item {
          width: auto;
          max-width: 90rem;
          padding: 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .aktuality__list-item {
          padding: 4rem; } }

.button {
  line-height: 1.2 !important;
  text-decoration: 0;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  background-color: #1971c2;
  color: #fff;
  padding: 1.4rem;
  border: 2px solid transparent;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 200ms;
  min-width: 15rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .button:hover {
    background-color: #0d3961; }
  .button--inverse {
    background: transparent;
    border: 1px solid #1971c2;
    color: #145a9b; }
    .button--inverse:hover {
      background-color: transparent;
      border: 1px solid #145a9b; }
  .button:disabled, .button:hover:disabled, .button:active:disabled {
    background: #868e96;
    color: #fff;
    border-color: #868e96;
    cursor: not-allowed; }
  .button--small {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 400; }
  .button--big {
    padding: 1.5rem 4rem;
    font-size: 2rem;
    font-weight: 500; }

.backdrop {
  position: fixed;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(13, 57, 97, 0.4);
  z-index: 20; }

.form-control {
  margin: .75rem 0; }
  .form-control label,
  .form-control input,
  .form-control textarea,
  .form-control select {
    display: block; }
  .form-control label {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.5rem; }
  .form-control p {
    margin-top: 0.4rem;
    font-size: 1.4rem;
    visibility: hidden; }
  .form-control input,
  .form-control textarea,
  .form-control select {
    border-radius: 2rem;
    font: inherit;
    font-size: 1.6rem;
    line-height: 1.6;
    border: 1px solid #d1c7a3;
    background-color: #e7e1e1;
    padding: 0.6rem 1rem; }
  .form-control input,
  .form-control textarea {
    width: 100%; }
  .form-control input:focus,
  .form-control textarea:focus,
  .form-control select:focus {
    outline: none;
    background: #fff; }
  .form-control--invalid label,
  .form-control--invalid p {
    color: #000;
    visibility: visible; }
  .form-control--invalid input,
  .form-control--invalid textarea,
  .form-control--invalid select {
    border-color: #af7b04;
    background: #fcebeb; }

.multiple-image-upload__container {
  padding: 2rem 0;
  border-radius: 2rem;
  margin-bottom: 2rem; }

.multiple-image-upload__form {
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .multiple-image-upload__form__preview {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center; }
  .multiple-image-upload__form__button {
    align-self: center; }

.navigation {
  height: 13rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  opacity: 0.95;
  z-index: 10; }
  .navigation__drawer ul {
    margin-top: 15rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .navigation .main__navigation {
    position: fixed;
    align-self: center;
    justify-self: center;
    max-width: 140rem;
    padding: 0rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 13rem;
    background-color: #f1f1f1; }
    .navigation .main__navigation__button {
      cursor: pointer; }
      .navigation .main__navigation__button:hover .main__navigation__icon::before {
        top: -1.5rem; }
      .navigation .main__navigation__button:hover .main__navigation__icon::after {
        top: 1.5rem; }
      @media only screen and (max-width: 56.25em) {
        .navigation .main__navigation__button {
          display: flex;
          align-items: center; } }
    .navigation .main__navigation__checkbox {
      display: none; }
    .navigation .main__navigation__button {
      display: none; }
      @media only screen and (max-width: 56.25em) {
        .navigation .main__navigation__button {
          display: inline-block; } }
    @media only screen and (max-width: 56.25em) {
      .navigation .main__navigation__links {
        display: none; } }
    .navigation .main__navigation__icon {
      position: relative; }
      .navigation .main__navigation__icon, .navigation .main__navigation__icon::after, .navigation .main__navigation__icon::before {
        display: inline-block;
        height: 3px;
        width: 4.5rem;
        background-color: #0d3961; }
      .navigation .main__navigation__icon::before, .navigation .main__navigation__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 400ms; }
      .navigation .main__navigation__icon::before {
        top: -1.2rem; }
      .navigation .main__navigation__icon::after {
        top: 1.2rem; }
    .navigation .main__navigation__checkbox:checked + .main__navigation__button .main__navigation__icon {
      background-color: transparent; }
    .navigation .main__navigation__checkbox:checked + .main__navigation__button .main__navigation__icon::before {
      top: 0;
      transform: rotate(135deg); }
    .navigation .main__navigation__checkbox:checked + .main__navigation__button .main__navigation__icon::after {
      top: 0;
      transform: rotate(-135deg); }

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem; }
  .nav__list__item {
    text-transform: uppercase;
    display: inline-block;
    color: #0d3961;
    font-size: 2.4rem;
    font-weight: 500;
    transition: all 300ms; }
    .nav__list__item:hover, .nav__list__item:active {
      color: #966a03; }
    .nav__list__item--active {
      color: #966a03; }

.navigation__drawer {
  display: block; }

.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 40%;
  background: rgba(241, 241, 241, 0.95);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 37.5em) {
    .side-drawer {
      width: 50%; } }
  @media only screen and (max-width: 22.5em) {
    .side-drawer {
      width: 60%; } }

.slide-in-left-enter {
  transform: translateX(-100%); }

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms; }

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1; }

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms; }

.logo-image {
  height: 12rem;
  cursor: pointer; }

.footer__nav__list {
  list-style: none;
  display: flex;
  gap: 4rem;
  font-size: 1.6rem; }
  .footer__nav__list--item {
    color: #0d3961; }
    .footer__nav__list--item a {
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1.2; }
    .footer__nav__list--item--active {
      color: #966a03 !important; }

.footer__container {
  display: grid;
  grid-template-columns: 1fr; }

.footer__wrapper {
  align-self: center;
  justify-self: center;
  background-color: #f1f1f1;
  max-width: 140rem;
  width: 100%;
  height: 12rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.footer__created-by {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: #3a4e4c; }
  .footer__created-by__text {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.3; }
  .footer__created-by__logo {
    position: relative;
    width: 25rem;
    height: 7rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__created-by__logo {
        width: 20rem; } }
    @media only screen and (max-width: 22.5em) {
      .footer__created-by__logo {
        width: 16rem; } }
  .footer__created-by__name {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px; }
  .footer__created-by__email {
    text-decoration: none;
    font-size: 1.3rem;
    border-bottom: 1px solid #3A4E4C;
    line-height: 1.2; }
    @media only screen and (max-width: 37.5em) {
      .footer__created-by__email {
        font-size: 1.2rem; } }

@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    display: none; } }

.footer__photos-by {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  color: #3A4E4C; }
  .footer__photos-by__text {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.3; }
  .footer__photos-by__name {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase; }
    @media only screen and (max-width: 22.5em) {
      .footer__photos-by__name {
        font-size: 1.6rem; } }
  .footer__photos-by__email {
    text-decoration: none;
    font-size: 1.3rem;
    color: #0d3961;
    border-bottom: 1px solid #0d3961;
    line-height: 1.2; }
    @media only screen and (max-width: 37.5em) {
      .footer__photos-by__email {
        font-size: 1.2rem; } }
