.kandidati-list {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   align-items: center;
  //   justify-items: center;
  //   margin-bottom: 6rem;
  //   max-width: 140rem;
  margin: 0 auto;
  max-width: 140rem;
  text-align: center;

  &__title {
    margin: 10rem auto;
    font-size: 8.6rem;
    font-weight: 500;
    letter-spacing: -1px;
    color: $color-primary-dark2;

    @include respond(phone) {
      font-size: 6rem;
      font-weight: 500;
    }

    @include respond(phone) {
      margin: 6rem auto;
      font-size: 5rem;
      font-weight: 500;
    }
  }

  & ul {
    margin: 0 4rem 10rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 8rem;
    row-gap: 8rem;

    @include respond(tab-land) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 6rem;
      row-gap: 6rem;
    }

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      column-gap: 6rem;
      row-gap: 16rem;
    }

    @include respond(phone) {
      row-gap: 12rem;
    }

    @include respond(phone-small) {
      margin: 0 2rem 10rem 2rem;

      row-gap: 10rem;
    }

    @include respond(big-desktop) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20rem;
    }
  }

  & li {
    list-style: none;
  }
}
