.hero-section {
  &__container {
    padding: 4.8rem 6.4rem 4.8rem 6.4rem;
    background-color: $color-background2;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  &__image {
    position: relative;
    object-fit: cover;
    height: 100%;
  }
  
  &__image-box {
    display: flex;
    border-radius: $border-radius;
    box-shadow: $shadow-light;
    overflow: hidden;
  }

  &__ {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 9.6rem;
  }
}
