.hero-section {
  &__container {
    padding: 3.6rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  &__heading {
    &--volba,
    &--teplice,
    &--pro {
      display: inline-block;
      font-size: 8rem;
      letter-spacing: -2px;
      font-weight: 500;
      text-transform: uppercase;
      color: $color-primary-dark2;
      transition: all 400ms;

      @include respond(tab-port) {
        font-size: 6rem;
      }

      @include respond(phone) {
        font-size: 5rem;
      }
    }

    &--pro {
      color: $color-secondary-dark3;
    }
  }

  &__image-box {
    position: relative;
    display: flex;
    border-radius: $border-radius;
    box-shadow: $shadow-light;
    overflow: hidden;
    height: 38rem;
    width: 100%;

    @include respond(tab-land) {
      height: 31.5rem;
    }

    @include respond(tab-port) {
      height: 20rem;
    }

    @include respond(phone) {
      height: 15rem;
    }

    @include respond(phone-small) {
      height: 10rem;
    }

    @include respond(big-desktop) {
      height: 43rem;
    }
  }
}
