.button {
  line-height: 1.2 !important;
  text-decoration: 0;
  font-family: $font-sans;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;  
  background-color: $color-primary-dark2;
  color: $color-white;
  padding: 1.6rem 2rem;
  border: 2px solid transparent;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all 200ms;
  min-width: 15rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  

  &:hover{
      background-color: $color-secondary-dark3;
  }

  &--inverse {
    background: transparent;    
    border:2px solid $color-primary-dark2;
    color: $color-primary-dark2;
    font-weight: 500;
    

    &:hover{
        background-color: transparent;
        border: 2px solid $color-secondary-dark3;
        color: $color-secondary-dark3;
    }

  }

  

//   &--danger {
//     background: $color-red;
//     border-color: $color-red;
//     color: $color-grey-dark-2;
//   }

  &:disabled,
  &:hover:disabled,
  &:active:disabled {
    background: $color-grey1;
    color: $color-white;
    border-color: $color-grey1;
    cursor: not-allowed;
  }

  &--small {
    padding: 1.2rem 2rem;
    font-size: 1.2rem;
    
  }

  &--big {
    padding: 1.5rem 4rem;
    font-size: 2rem;
    font-weight: 500;
  }
}
